body{ 
<<<<<<< HEAD
	background-color: #EAEAEA; 
	color: #1a1919;
=======
	background-color: #Efefef; 
	color: #666666;
>>>>>>> CSS_Edits
	font-family: Arial, Helvetica, sans-serif;
}
*{
	box-sizing: border-box;
}
#special{
	clear: both;
}
label{
	float: left;
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 5px;
}
input, textarea{
	display: block;
	margin-bottom: 20px;
}
input[type="submit"]{
	margin-left: 140px;
}
table{
	border: 2px solid #3399CC;
	border-collapse: collapse;
}
td, th{
	padding: 0.5em;
	border: 2px solid #3399CC;
}
td{
	text-align: center;
}
.text{
	text-align: left;
}
tr:nth-of-type(odd){
	background-color: #BDDFF0;
}
header{
	background-color: #007171;
	color: #FFFFFF;
	text-align: center;
	height: 120px;
	padding-top: 30px;
	padding-left: 3em;
}
header a{
		text-decoration: none;
}
header a:link{ 
			color: #FFFFFF;
}
header a:visited{
			color: #FFFFFF;
}
header a:hover{
			color: #90C7E3;
}	
nav {
	float: left;
	width: 160px;
	font-weight: bold;
	padding: 1.5em;
	font-size: 120%;
}
nav ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0; 
	font-size: 1.2em;
}
nav a{
		text-decoration: none; 
	}
nav a:link{ 
	color: #5C7FA3;
}
nav a:visited{
	color: #344873;
}
nav a:hover{
	color: #A52A2A;
}	
#wrapper{
	background-color: #90C7E3;
	margin-left: auto; 
	margin-right: auto;
	width: 80%;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #333333;
	border-style: solid;
	border-color: #000033;
	border-width: 1px;
	background-color: #90C7E3; 
	background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
	background-repeat: no-repeat;
}
#yurthero{
	background-image: url(yurt.jpg); 
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
#homehero{
	background-image: url(coast2.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
#trailhero{
	background-image: url(trail.jpg);
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
main{
	overflow: auto;
	padding-top: 1px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 30px;
	display: block;
	background-color: #FFFFFF;
	margin-left: 190px;
}
h2{
	color: #1976D2;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #CCCCCC;
}
dt{
	color: #002171;
}
.resort{
	color: #1976D2;
	font-weight: bold;
}
h1{
	margin-bottom: 0;
	margin-top: 0;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 3em; 
	letter-spacing: 0.25em;
}
h3{
	color: #000033;
	font-family: Georgia, "Times New Roman", serif;
}
main ul{
	list-style-image: url(marker.gif);
}
footer{
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 2em;
	background-color: rgb(228, 175, 175);
	margin-left: 190px;
}
#contact{
	font-size: 90%;
}
section{
	float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;
}



		